*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    background-color: rgb(31, 72, 124);
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.header{
    margin-top: 5px;
    margin-bottom: 100px;
    padding: 5px;
    padding-right: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid rgb(21, 255, 0) 3px;
}

.container {
    width: 700px;
    background-color: rgb(161, 8, 154);
    padding: 10px;
    border: solid black 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 300px;
    
    
    
}

#question{
    font-weight: 600;
    

}

.btn{
    border-radius: 10px;
    height: 35px;
    background-color: greenyellow;
    font-weight: 600;
}

.btn:hover{
    background-color: blue;
}

.btn-style {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 2em;
    margin: 20px 0;
    background-color: rgb(161, 8, 154);
    width: 70%;
    border-radius: 10px;
    

}

.nav-controls{
    margin-top: 1px;
    border: solid rgb(192, 5, 161) 5px;
    width: 700px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: forestgreen;
    margin-left: 300px;

    
   
}

.start-btn{
    width: 10%;
    border-radius: 10px;
    font-size: medium;
}

.start-btn:hover{
   background-color: blueviolet;
}

.next-btn{
    width: 10%;
    border-radius: 10px;
    font-size: medium;
}

.next-btn:hover{
    background-color: blueviolet;
 }

 .quit-btn{
    width: 10%;
    border-radius: 10px;
    font-size: medium;
}

.quit-btn:hover{
    background-color: blueviolet;
 }

 .cover {
    display: none;
 }

